@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Carter+One&family=Lumanosimo&display=swap');
:root {
  /* --primary-dark: #5651e5; */
  --primary-dark: #d0577f;
  --primary-light: #1eb3d1;
}
.logo{
  font-family: 'Carter One', cursive, sans-serif,serif
}
@layer base{
  html{
    @apply scroll-smooth
  }
  body{
    @apply font-[Poppins]
  }
  
  li{
    @apply p-4 text-sm list-none
  }
  button{
    @apply px-4 py-2  bg-gradient-to-r from-[var(--primary-dark)] to-[var(--primary-light)] text-white
  }
  h2{
    @apply text-xl font-bold
  }
}

/*tiger color*/
.text-gradient {
  background-image: linear-gradient(to right, #1eb3d1, #f74408);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}

